---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: nginx-deployment
  labels:
    app: proxy-app
    author: vinay
spec:
  replicas: 2
  selector:
    matchLabels:
      app: proxy-app
  template:
    metadata:
     name: nginx-app
     labels:
      app: proxy-app
    spec:
      containers:
        - name: nginx-container
          image: nginx
          ports:
           - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-ip
spec:
 type: LoadBalancer
 selector:
  app: proxy-app
 ports:
   - targetPort: 80
     port: 60
... 
















